OPENAI_API_KEY=your_openai_api_key_here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT="Demo"

LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_HOST=https://us.cloud.langfuse.com

TMDB_API_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYWNhYzRmZDg0NjMzMGNiNjE3YzY0NDRiZDdjYjBiNCIsIm5iZiI6MTcyNzY1OTU3NS4zMzM4OTksInN1YiI6IjY2ZjM2NDAxNzA5MWQ1NzU1ZDY5ZDY3MiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.mVFJ-xJGXGwADwDgDW3n0D1e3G062CDdRvlteLZlB2s
SERP_API_KEY=52ad64d8e34a8c29b783a6bb44f0c4b49f341a60f563d6963909bf957d2ad132